@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #000;
  color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.ball1, .ball2{
  position: absolute;
}
.ball1>div, .ball2>div{
  background: #fff;
  border-radius: 50%;
  filter: blur(1px);
  position: relative;
}
.ball1{
  top: calc(-28px - var(--i));
  left:  calc(-28px - var(--i));
}
.ball1>div{
  width: 50px;
  height: 50px;
  transform-origin: calc(40px - var(--i) * 3);
  -moz-animation: move calc(2.5s + var(--y) / 5) ease-in-out calc(var(--y) / 5) infinite;
  animation: move calc(2.5s + var(--y) / 5) ease-in-out calc(var(--y) / 5) infinite;
}
.ball1#ball-0{
  top: -45px;
  left:-45px;
  transform-origin: 0;
}
.ball1#ball-0>div{
  width: 90px;
  height: 90px;
  border-radius: 100%;
  -moz-animation: none;
  animation: none;
}
.ball1#ball-1>div, .ball1#ball-8>div{
  width: 60px;
  height: 60px;
}
.ball1#ball-8,.ball2#ball-8{
  transform: rotate(40deg);
}
.ball1#ball-2,.ball2#ball-2{
  transform: rotate(80deg);
}
.ball1#ball-9,.ball2#ball-10{
  transform: rotate(120deg);
}
.ball1#ball-1,.ball2#ball-1{
  transform: rotate(160deg);
}
.ball1#ball-5,.ball2#ball-5{
  transform: rotate(200deg);
}
.ball1#ball-6,.ball2#ball-6{
  transform: rotate(240deg);
}
.ball1#ball-3,.ball2#ball-3{
  transform: rotate(280deg);
}
.ball1#ball-7,.ball2#ball-7{
  transform: rotate(320deg);
}
.ball1#ball-8,.ball2#ball-9{
  transform: rotate(360deg);
}
.ball2{
  top:  calc(-6px - var(--i));
  left: calc(-6px - var(--i));
  width: calc(var(--i) + 7px);
  height: calc(var(--i) + 7px);
}
.ball2>div{
  width: calc(var(--i) + 7px);
  height: calc(var(--i) + 7px);
  transform-origin: calc(60px - var(--i) * 12);
  -moz-animation: move calc(3.5s + var(--y) / 5) ease-in-out calc(var(--y) / 5) infinite;
  animation: move calc(3.5s + var(--y) / 5) ease-in-out calc(var(--y) / 5) infinite;
}
@keyframes move{
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
}