@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #43389F;
  background-image: linear-gradient(45deg, #43389F 0%, #4ec6ca 100%);
  color: #333;
	font-family: "Courier New", "Courier", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.number{
  height: 100px;
  margin: 0 auto;
  position: relative;
}
.number div{
  float: left;
}
.number>div>div{
  box-shadow: 0px 0px 5px #333a;
}
.numberone{
 position: relative;
 z-index: 2;
}
.numberone div{
  position: absolute;
  border-radius: 5px;
}
.numberone div:nth-child(1){
  width: 25px;
  height: 100px;
  background: #fff;
  
}
.numberone div:nth-child(2){
  width: 25px;
  height: 50px;
  left: -19px;
  top: 1px;
  background: #fff;
  transform: rotate(45deg);
  z-index: -1;
}
.numbertwo{
  position: relative;
  left: 18px;
}
.numbertwo>div{
  position: relative;
}
.numbertwo div{
  width: 100px;
  height: 100px;
  background: transparent;
  background-image: radial-gradient(transparent 35%, #fff 36%);
  border-radius: 100%;
  z-index: 1;
}
.numbertwo:nth-child(3)>div{
  z-index: 0;
  left: -15px;
}
.text{
  color: #fff;
  text-transform: uppercase;
  text-align: center;

}
.text h1{
  font-size: 85px;
  margin: 0;
  line-height: .8;
}
.text p{
  font-size: 23px;
  margin: 0;
  font-weight: bold;
  letter-spacing: 1.7px;
  line-height: .3;
}
