@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #42A7A1;
  color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.card{
  width: 280px;
  height: 220px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 5px #0003;
}
.card .title{
 background: #F1BA64;
 color: #fff;
 font-size: 15px;
 padding: 12px;
}
.card .title div{
  width: 49%;
  display: inline-block;
}
.card .title div:nth-child(2){
  text-align: right;
}
.card .title div h1{
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
}
.card .title div p{
  margin: 0;
}
.card .statistic{
  padding: 10px 10px 0;
}
.card .statistic>div{
  font-size: 10px;
  float: right;
}
.card .statistic>div>div{
  display: inline-block
}
.card .statistic div span{
  width: 10px;
  height: 3px;
  position: relative;
  top: -1px;
  margin: 0 5px;
  background: #FA7373;
  display: inline-block;
} 
.card .statistic div:nth-child(2) span{
  background: #7BA2FF;
}
.card .statistic svg{
  width: 100%;
  height: 100px;
}
.card .statistic svg line{
  stroke: #aaa;
}
.card .statistic svg .x{
  fill: #FA7373;
  stroke: #FA7373;
}
.card .statistic svg .y{
  fill: #7BA2FF;
  stroke: #7BA2FF;;
}

.card .days{
  width: 100%;
  float: none;
  margin: 0;
  font-size: 11px;
}
.card .days>div{
  width: 14.2856%;
  text-transform: uppercase;
  float: left;
  text-align: center;
}
